body {
    margin: 0;
    min-width: 500px;
    max-width: 1600px;
    font-family: Arial;
    background: radial-gradient(yellow,orange, white, rgba(0,0,0,.2), black);
}

#canopies-btn {
    color: #b5db1a;
}

#canopies-btn:hover {
    color: white;
}

.main-container {
    margin-left: 10%;
    width: 70%;
    margin-bottom: 200px;
}

.instock {
    display: grid;
    width: 100%;
    height: 100%;
}

.container {
    background: black;
    display: grid;
    margin-top: 40px;
    box-shadow: 5px 5px 25px black;
    border-radius: 10px;
}

.inner-container {
    color: white;
    display: grid;
    grid-template-columns: .3fr 1fr;
    padding: 20px;
    font-size: 12pt;
}

.description {
    margin-top: 10%;
    margin-bottom: 12%;
    color: #bebcc2;
    font-size: 10pt;
    font-weight: 600;
}

.description:hover {
    color: white;
}


.container-right p {
    display: inline;
    margin-left: 20px;
}

.container-right a {
    margin-left: 50px;
}

.container-left img {
    width: 420px;
    height: 170px;
}

.container-right {
    margin-left: 50px;
    font-family: Arial;
    border: 2px solid white;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px white;
}

.color-canopies {
    color: #b5db1a;
    font-weight: 1000;
}

#color-student-a:hover {
    background-color: rgba(181, 219, 26, 0.6);
}

.price-canopies {
    color: black;
    background: #b5db1a;
    font-weight: 1000;
    padding: 2px;
}

.price-canopies:hover {
    color: white;
    background-color: rgba(181, 219, 26, 0.5);
}

.sold-img {
    position: absolute;
    width: 190px;
    transform: translate(-105%, 5%)
}

.grid a {
    display: flex;
    justify-content: center;
    padding-top: 10%;
    height: 100%;
    color: yellow;
}

.filter {
    background-color: rgba(23, 56, 67, .4);
    border: 2px hidden;
    border-radius: 10px;
    box-shadow: 5px 5px 15px black;
    background: rgba(0,0,0,.6)
}

.filter:hover {
    background-color:black;
    box-shadow:none;
}

.filter:hover a{
    color: white;
}

.display-opac {
    opacity: 0;
}


.filters {
    transition: 1s;
    position: sticky;
    top: 200px;
    left: 100%;
    transform: translate(130%);
    height: 0;
    width: 130px;
    opacity: 1;
}

.grid {
    display: grid;
    position:absolute;
    width: 100px;
    height: 400px;
    grid-row-gap: 10px;
    border: none;
    padding: 10px;
    background-image: conic-gradient(white, orange, white);
    border-radius: 10px;
    box-shadow: 10px 10px 55px;
}

.grid2 a {
    display: flex;
    justify-content: center;
    padding-top: 10%;
    height: 100%;
    color: yellow;
}

.filters2 {
    display: inline-flex;
    position: sticky;
    top: 200px;
    width: 600px;
    height: 600px;
    transform:translate(-100%);
    transition: .2s;
}

.grid2 {
    display: grid;
    position:absolute;
    width: 400px;
    height: 400px;
    grid-row-gap: 10px;
    border: none;
    padding: 10px;
    background-image: conic-gradient(black, orange, blue);
    border-radius: 10px;
    box-shadow: 10px 10px 55px;
}

.grid2 div {
    width:100px;
    margin-left: 280px;
}

.sections {
    width: inherit;
}

.display-none {
    display: none;
}

.filters2:hover {
    top: 200px;
    transform: translate(-35%);
}

.left-tag {
    position: absolute;
    top: 100px;
    left: 150px;
    writing-mode: vertical-rl;
    text-orientation: upright;
    transition: .4s;
    color: black;
    font-weight: 1000;
    font-size: 16pt;
    font-family: monospace;
}

.filters2:hover .left-tag {
    opacity: 0;
    transform: translate(0, -50%);
}

.admin-banner {
    color: red;
    transform: translate(50%, -150%);
    width: 400px;
}