body {
    margin: 0;
    font-family: Arial;
}

#vector3-btn {
    color: #b5db1a;
}

#vector3-btn:hover {
    color: white;
}

.main-container {
    margin-left: 10%;
    width: 70%;
}

.instock {
    width: 100%;
    height: 100%;
    background: white;
}

.container {
    background: black;
    display: grid;
    margin-top: 40px;
    box-shadow: 5px 5px 25px black;
    border-radius: 10px;
}

.inner-container {
    color: white;
    display: grid;
    grid-template-columns: .3fr 1fr;
    padding: 20px;
    font-size: 12pt;
}

.description {
    margin-top: 3%;
    margin-bottom: 6%;
    color: #bebcc2;
    font-size: 10pt;
    font-weight: 600;
}

.description:hover {
    color: white;
}


.container-right p {
    display: inline;
    margin-left: 20px;
}

.container-right a {
    margin-left: 50px;
}

.container-left img {

}

.container-right {
    margin-left: 50px;
    font-family: Arial;
}

.color-vector {
    color: #b5db1a;
    font-weight: 1000;
}

#color-vector-a:hover {
    background-color: rgba(181, 219, 26, 0.6);
}

.price-vector {
    color: black;
    background: #b5db1a;
    font-weight: 1000;
    padding: 2px;
}

.price-vector:hover {
    color: white;
    background-color: rgba(181, 219, 26, 0.5);
}

.sold-img {
    position: absolute;
    width: 190px;
    transform: translate(-105%, 5%)
}