<div id="new-reg" style="display: grid">
    <form method="post">
        {% csrf_token %}
        {{ form.username }}
        {{ form.password1 }}
        {{ form.password2 }}
        <input type="text" name="first_name" placeholder="first name">
        <input type="text" name="last_name" placeholder="last name">
        <input type="email" name="email" placeholder="enter">
        <input type="tel" name="phone_number">
    <button type="submit">Submit</button>
    </form>
</div>

<div id="change-div"></div>

<script>
    let item_id = localStorage.getItem('inventoryitem')
    document.getElementById('change-div').innerHTML = '<h1>Purchase Item - Inventory Item ID: ' + item_id.toString() + '</h1>'

</script>