{% extends "admin/base.html" %}
{% load static %}

{% block title %}{% if subtitle %}{{ subtitle }} | {% endif %}{{ title }} | {{ site_title|default:_('Django site admin') }}{% endblock %}

{% block branding %}
<style>
    .ghfjs {
        display: inline-grid;
        padding: 5px;
        border-radius: 5px;
        box-sizing: border-box;
        margin-top: 5px;
        margin-left: 10px;
        border: 2px solid black;
        align-content:center;
        text-align:center;
        background: rgba(0,0,0,0.5);

    }

    .ghfjs:hover {
        background: red;
    }

</style>
<h1 id="site-name"><a href="{% url 'admin:index' %}">{{ site_header|default:_('Django administration') }}</a></h1>
    <a class="ghfjs" style="color: #f5dd5d" href="/users/" >Admin Landing Page</a>
    <a class="ghfjs" style="color: #f5dd5d" href="/" >Website Home</a>
    <a class="ghfjs" style="color: #f5dd5d" href="/manager/builder/" >Build/Update Page</a>
    <a class="ghfjs" style="color: #f5dd5d" href="/manager/inventory/" >Inventory</a>
    <a class="ghfjs" style="color: #f5dd5d" href="/manager/inventory-sold/" >Sold Inventory</a>
    <a class="ghfjs" style="color: #f5dd5d" href="/manager/inventory-shipping/">Shipped Inventory</a>
    <a class="ghfjs" style="color: #f5dd5d" href="/manager/media/">Media Manager</a>
{% endblock %}

{% block nav-global %}{% endblock %}
