{% extends "index.html" %}
{% load static %}
{% block styles %}
    <link rel="stylesheet" href="{% static 'css/instock-tandem.css' %}">
{% endblock %}
{% block title %}
    <title>In Stock Tandem Containers</title>
{% endblock %}
{% block scroll %}ScrollingNavBar();{% endblock %}
{% block content %}
    <div class="top-box">
    <h1>
        In Stock
        Sigma and Micro Sigma Containers
        Sigma Main and Reserve Canopies
        TX2 Main Canopies
    </h1>
        <p>(772) 713-8297     <a href="mailto: Lyle@FlexVision.com">Lyle@FlexVision.com</a></p>
    </div>
    <div class="columns">
     {% for x in containers %}
                <div class="container">
                    <div class="inner-container">
                        <div class="container-left">
                            <img src="{% static '' %}{{ x.picture }}" height="140" width="212">
                        </div>
                        <div class="container-right">
                            <p class="color-tandem">{{ x.name }} - </p>
                            {% if serial_number %}
                                <p class="color-tandem">Serial #{{ x.serial_number }}</p>
                            {% endif %}
                            {% if x.in_stock %}
                                <p>IN STOCK NOW - </p>
                            {% else %}
                                {% if due_date %}
                                    <p>{{ x.due_date }}</p>
                                {% endif %}
                            {% endif %}
                            {% if x.size %}
                                <p class="color-tandem">{{ x.size }}</p>
                            {% endif %}
                            {% if x.description %}
                                <div class="description">{{ x.description }}</div>
                            {% endif %}
                            <p class="price-tandem">${{ x.price }}</p>
                            {% if x.in_stock %}
                                <p>IN STOCK NOW</p>
                            {% else %}
                                {% if due_date %}
                                    <p>{{ x.due_date }}</p>
                                {% endif %}
                            {% endif %}
                            {% if x.po_number %}
                                <p>{{ x.po_number }}</p>
                            {% endif %}
                            {% if x.confirmation_r %}
                                <a class="color-tandem" id="color-tandem-a" href="{% static '' %}{{ x.confirmation_r }}">SEE CONFIRMATION REPORT</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
        {% endfor %}
    </div>
{% endblock %}