{% extends "index.html" %}
{% load static %}
{% block styles %}
    <link rel="stylesheet" href="{% static 'css/student-styles.css' %}">
{% endblock %}
{% block title %}
    <title>Student Rigs</title>
{% endblock %}
{% block scroll %}ScrollingNavBar();{% endblock %}
{% block content %}
    <div class="box">
    <div class="top-box">
        <h1>
            Coming Soon
            Vector SE Student Rigs
        </h1>
    </div>
    <div class="bottom-box">
        <p>
            These student rigs are currently set up for AFF only. Options included are left side boc pouch,
            adjustable harness, and adjustable leg pads.   ***   Please note that UPT is currently 8 weeks behind.
        </p>
    </div>
    </div>
    <div class="main-container" id="main-container">
    <div class="instock">
        {% for x in containers %}
                <div class="container">
                    <div class="inner-container">
                        <div class="container-left"><img src="{% static '' %}{{ x.picture.key }}" height="140" width="212"></div>
                        <div class="container-right">
                            <p class="color-student">{{ x.name }} - </p>
                            <p class="color-student">Serial #{{ x.serial_number }} - </p>
                            {% if x.in_stock %}
                                <p>IN STOCK NOW - </p>
                            {% else %}
                                <p>{{ x.due_date }} - </p>
                            {% endif %}
                            <p class="color-student">{{ x.size }}</p>
                            <div class="description">{{ x.description }}</div>
                            <p class="price-student">${{ x.price }}</p>
                            {% if x.in_stock %}
                                <p>IN STOCK NOW</p>
                            {% else %}
                                <p>Due On : {{ x.due_date }}</p>
                            {% endif %}
                            {% if x.po_number %}
                            {{ x.po_number }}
                            {% endif %}
                            {% if x.confirmation_r %}
                                <a class="color-student" id="color-student-a" href="{% static '' %}{{ x.confirmation_r.key }}">SEE CONFIRMATION REPORT</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
        {% endfor %}
    </div>
</div>
{% endblock %}