{% extends 'index-admin.html' %}
{% load static %}
{% block styles %}
    <link rel="stylesheet" href="{% static 'css/build.css' %}">
{% endblock %}
{% block title %}
    <title>Build a block</title>
{% endblock %}


{% block content %}
    <div class="total-pages-visits"><p>Total Page Visits: {{ total_visits }}</p></div>
    <div id="container-main" class="container-main">
        <div id="create-form" class="none" onmouseenter="closeFields()"></div>
        <div id="display-right" class="display-right">
            <div class="edit-btns-group">
                <div id="main-btn-group" class="main-btn-group">
                    <button id="display-form-btn" class="btnchanger" onclick="createForm();closeUpdateGroups(); closeUpdateBtn()">Create A New Item</button>
                    <button id="display_id_btn" class="btnchanger" onclick="idChange();closeCreateForm()">Select Item To Display</button>
                    <button id="display_update-btn" class="none" onclick="openUpdateGroup()">Update Item</button>
                    <button id="display_sold-btn" class="none" onclick="openSoldGroup()">View Customer/Sold</button>
                    <button id="display_shipping-btn" class="none" onclick="openShippingGroup()">Add/Update Shipping</button>
                </div>
                <div id="item-update-btn-group" class="none">
                    <button id="name_on_btn" class="btnchanger" onclick=NameChange();uploadFormOff()>Change Name</button>
                    <button id="price_btn" class="btnchanger" onclick=PriceChange();uploadFormOff()>Change Price</button>
                    <button id="size_btn" class="btnchanger" onclick=sizeChange();uploadFormOff()>Change Size</button>
                    <button id="serial_number_btn" class="btnchanger" onclick=serialNumberChange();uploadFormOff()>Change Serial Number</button>
                    <button id="due_date_btn" class="btnchanger" onclick=dueDateChange();uploadFormOff()>Change Due Date</button>
                    <button id="po_number_btn" class="btnchanger" onclick=poNumberChange();uploadFormOff()>Change PO Number</button>
                    <button id="description_btn" class="btnchanger" onclick=descriptionChange();uploadFormOff()>Change Description</button>
                    <button id="instockclicker" class="btnchanger" onclick=inStockChange();uploadFormOff()>Change In Stock</button>
                    <button id="confirm_btn" class="btnchanger" onclick=ConfirmChange()>Change Confirmation Report</button>
                    <button id="picture_btn" class="btnchanger" onclick=PictureChange()>Change Picture</button>
                    <button id="deletebtn" class="btnchanger" onclick=deleteContainer();uploadFormOff()>Delete Item</button>
                </div>
                <div id="sold-update-btn-group" class="none">
                    <button id="" class="btnchanger" onclick="">Item select</button>
                    <button id="build-create-customer-btn" class="btnchanger" onclick="">Create a New Customer</button>
                    <button id="" class="btnchanger" onclick="openSoldCustomerSelect()">Customer select</button>
                    <button id="" class="btnchanger" onclick="">Date sold select</button>
                    <button id="" class="btnchanger" onclick="">Sold infor 1 select</button>
                    <button id="" class="btnchanger" onclick="">Sold info 2 select</button>
                </div>
                <div id="shipping-update-btn-group" class="none">
                    <button id="build-create-address-btn" class="btnchanger" onclick="">Create New Shipping Address</button>
                    <button id="" class="btnchanger" onclick="">Item select</button>
                    <button id="" class="btnchanger" onclick="">Sold Info Select</button>
                    <button id="" class="btnchanger" onclick="">Customer select</button>
                    <button id="" class="btnchanger" onclick="">Update Shipping Address</button>
                    <button id="" class="btnchanger" onclick="">Date sold select</button>
                    <button id="" class="btnchanger" onclick="">Sold infor 1 select</button>
                    <button id="" class="btnchanger" onclick="">Sold info 2 select</button>
                    <button id="" class="btnchanger">Tracking Number</button>
                </div>
            </div>
            <div id="main-edit-div">
                <div id="create-form-upload-btns" class="none">
                    <button id="create-form-confirm_btn" class="btnchanger" onclick="createConfirmChange()">Upload A New Confirmation Report</button>
                    <button id="create-form-picture_btn" class="btnchanger" onclick="createPictureChange()">Upload A New Picture</button>
                </div>
                <div id="create-upload-div"></div>
                <div id='sold-div-change-display' class='none'>
                    <form id='form-sold-change' action='/api/api'  method='POST' onsubmit="">
                        {% csrf_token %}
                        <div id="change-display-sold" class="change-display"></div>
                    </form>
                </div>
                <div id='div-change' class='none' >
                    <form method='POST' id='uploadForm' class="none">
                        {% csrf_token %}
                        <div id="upload-file-div"></div>
                    </form>

                    <form id='form-price-change' action='/api/api'  method='POST' onsubmit="updateFields(event)">
                        {% csrf_token %}
                        <div id="change-display" class="change-display"></div>
                    </form>
                </div>
                <div id="div-build-sold_customer" class="none">
                    <form method="POST" id="sold-customer-form" action="/api/build-sold-data-api/" onsubmit="sendNewSoldData(event)" >
                        {% csrf_token %}
                        <div id="sold-change-display" class="sold-change-display"></div>
                    </form>
                </div>
                <div id="div-id-change" class="none">
                    <form id="form-id-change" action="/api/api" method="POST" onsubmit="updateFields(event)">
                        {% csrf_token %}
                        <!--<input type="hidden" value="/builder" name="next"> -->
                        <div id="change-display-id" class="change-display"></div>
                    </form>
                    <form id="form-id-change2" class="id-dropdown-form" action="/api/api" method="POST" onsubmit="updateFields(event)">
                        {% csrf_token %}
                        <!-- <input type="hidden" value="/builder" name="next"> -->
                        <select name="id">
                            <option value="" selected disabled hidden>Choose a Container from the list!</option>
                            {% for x in dropdown %}
                            <option value="{{ x.id }}">{{ x.id }} : {{ x.type }}--{{ x.name }} -- {{ x.serial_number }} -- In Stock: {{ x.in_stock }} -- Sold: {{ x.sold }}</option>
                            {% endfor %}
                        </select>

                        <button type="submit">submit</button>
                    </form>
                </div>
            </div>
            <div class="container-display" id="container-display"></div>
        </div>

    </div>

    <script>

    const TYPE = {sport_rigs: "sport_rigs", tandem: "tandem"}
    function createForm() {
        document.getElementById('container-main').style.marginLeft = '30%'
        document.getElementById('display-right').style.marginLeft = '170px'
        document.getElementById('container-main').style.maxWidth = '40%'
        document.getElementById('create-form').className = 'div-form'
        closeFields()
        document.getElementById('display-form-btn').className = 'none'
        document.getElementById('container-display').innerHTML = ''
        createFormUploadBtns()
        document.getElementById('create-form').innerHTML = '<form onsubmit="handleFormSubmit(event);createForm()" id="form" class="form" method="POST" action="https://vectorrigs.herokuapp.com/api/builder/" >'
            + '{% csrf_token %}'
                +'<label>Required Fields: Display Page, Name, Price</label>'
                + '<select name="type" id="id_type" onchange="getNames(); getSizes()">'
                    +'<option value="0" selected >Choose Display Page</option>'
                    +'<option value="sport_rigs">Sport Rigs</option>'
                    +'<option value="tandem">Tandem</option>'
                    +'<option value="student">Vector SE Student</option>'
                    +'<option value="canopies">Canopies</option>'
                    +'<option value="javelin_odyssey">Javelin-Odyssey</option>'
                    +'<option value="do_not_display">Do Not Display</option>'
                +'</select>'
                +'<hr>'
                + '<label>Select a Name:</label>'
                +'<select name="name" required id="id_name" onchange="setNameDescription()">'
                    +'<option value="" selected>**Display Page Required**</option>'
                + '</select>'
                    +'<hr>'
                  +'<label for="due_date">Serial Number: (default is TBD) </label>'
                  +'<input type="text" name="serial_number" id="id_serial_number" value="TBD">'
                    + '<hr>'
                    +'<label>Enter a Due Date:</label>'
                  +'<input type="text" name="due_date" maxlength="100" id="id_due_date" placeholder="Enter Due Date">'
                + '<hr>'
                +'<select name="size" id="id_size" onchange="setSizeDescription()">'
                    +'<option id="" value="" selected>**Name/Type Required**</option>'
                + '</select>'
                +'<hr>'
                +'<label for="po_number">Enter a PO #:</label>'
                +'<input type="text" name="po_number" maxlength="50" id="id_po_number" placeholder="Enter PO Number/Date">'
                +'<hr>'
                + '<label for="price">Price is Required:</label>'
                +'<input type="number" name="price" required="" id="id_price" placeholder="Price**">'
                +'<hr>'
                +'<label for="description">Description:</label>'
                +'<textarea name="description" cols="40" rows="10" id="id_description" placeholder="     INSTRUCTIONS:\n'
                    + 'Select Type (Display Page)\nSelect a Name\nSelect a Size (Size not Required)' +
                        '\nEnter a Price\nSelect and Enter Any Other Form Fields\nPress the <Create New Item> Button Below"></textarea>'
                +'<hr>'
                  + '<label for="in_stock">IN STOCK</label>'
                  +'<input type="checkbox" name="in_stock" id="id_in_stock">'
                + '<hr>'
                +'<select name="on_hold" id="id_on_hold">'
                    +'<option value="" selected>Select Customer Hold (Not Required) </option>'
                {% for x in hold_options %}
                    +'<option value="{{ x.id }}">{{ x }}</option>'
                {% endfor %}
                +'</select>'
                +'<hr>'
                +'<div id="p2">'
                +'<select name="confirmation_r" id="id_confirmation_r">'
                    +'<option value="" selected>Select a Confirmation Report</option>'
                    {% for x in confirm %}
                        +'<option value="{{ x.id }}">{{ x.key }}</option>'
                    {% endfor %}
                +'</select>'
                +'</div>'
                +'<hr>'
                +'<div id="p1">'
                +'<select name="picture" id="id_picture">'
                    +'<option value="" selected>Select a Picture</option>'
                    {% for x in pict %}
                        +'<option value="{{ x.id }}">{{ x.key }}</option>'
                    {% endfor %}
                +'</select>'
                +'</div>'
                +'<hr>'
                +'<button class="submit-new" type="submit">Create New Item</button>'
            +'</form>'
        +'<p>* RED Border/Black Background = Required Fields *</p>'
    }

    function sizeChange() {
        document.getElementById('deletebtn').className = 'btnchanger'
        div_id_change.className = 'none'
        change_display2.innerHTML = ''
        div_change.className = 'div-change'
        change_display.innerHTML = "<input type='number' name='id' id='id' placeholder='Enter ID'>"
            + '<select name="size" id="id_size" onchange="setNewSizeDescription()">'
                + '<option id="" selected>Choose A New Size - Current ' + document.getElementById('p-tag-size').innerHTML + ' </option>'
                {% for x in size_options %}
                    +'<option value="{{ x.id }}">{{ x }}</option>'
                {% endfor %}
                + '</select>'
            + "<button id='btn' onsubmit='closeFields()' type='submit'>Update Size</button>"
        if (document.getElementById('e-id')) {
            document.getElementById('id').defaultValue = document.getElementById('e-id').innerHTML
        }
        document.getElementById('size').defaultValue = document.getElementById('size-info').innerHTML
    }



    function NameChange() {
        document.getElementById('deletebtn').className = 'btnchanger'
        div_id_change.className = 'none'
        change_display2.innerHTML = ''
        div_change.className = 'div-change'
        change_display.innerHTML = "<input type='number' name='id' id='id' placeholder='Enter ID'>"
            + '<select name="name" required id="name_change" onchange="setNewNameDescription()">'
            + '<option  id="" selected>Choose A New Name - Current ' + document.getElementById('p-tag-name').innerHTML + ' </option>'
            {% for x in name_options %}

                + '<option value="{{ x.id }}">{{ x.name }}</option>'
            {% endfor %}
            + '</select>'
            + "<button id='btn' onsubmit='closeFields()' type='submit'>Update Name</button>"
        if (document.getElementById('e-id')) {
            document.getElementById('id').defaultValue = document.getElementById('e-id').innerHTML
        }



}
    </script>
    <script type="text/javascript" src="{% static 'javascript/build.js' %}"></script>
    <script type="text/javascript" src="{% static 'javascript/build-create-new-item.js' %}"></script>
    <script type="text/javascript" src="{% static 'javascript/build-update-item.js' %}"></script>
    <script type="text/javascript" src="{% static 'javascript/build-update-sold.js' %}"></script>
    <script type="text/javascript" src="{% static 'javascript/build-update-shipping.js' %}"></script>
    <script type="text/javascript" src="{% static 'javascript/build-upload-script.js' %}"></script>
    <script type="text/javascript" src="{% static 'javascript/build-create-upload.js' %}"></script>
    <script type="text/javascript" src="{% static 'javascript/build-sold-customer.js' %}"></script>
{% endblock %}