{% extends 'index-admin.html' %}
{% load static %}
{% block styles %}
    <link rel="stylesheet" href="{% static 'css/contact-requests.css' %}">
{% endblock %}
{% block title %}
    <title>Contact Requests</title>
{% endblock %}
{% block page_title %}<div class="manager-page-title"><h1>Contact Requests</h1></div>{% endblock %}

{% block content %}

<ol>
    {% for x in messages %}
    <li id="message-container-{{ x.id }}">
    <ul>
        <li>E-mail: {{ x.email }}</li>
        <li>Subject: {{ x.subject }}</li>
        <li>Time: {{ x.time }}</li>
        <li>Confirmation Number: {{ x.confirmation_number }}</li>
        <li>Message: {{ x.comment }}</li>
        <li>Read: {{ x.read }}</li>
        {% if not x.read %}
            <script>

                document.getElementById('message-container-{{ x.id }}').style.background = 'red'
            </script>
            <form method="post" action="/api/build-update-sold-data-api/" onsubmit="updateContactRequests(event)">
            {% csrf_token %}
                <input type="number" name="id" hidden value="{{ x.id }}">
                <input type="checkbox" name="read" checked hidden>
                <button type="submit">Mark As Read</button>
            </form>
            <script>
            function updateContactRequests(event) {

                let my_Form = event.target
                let my_FormData = new FormData(my_Form)
                let xhr = new XMLHttpRequest()
                let method = my_Form.getAttribute('method')
                let url = my_Form.getAttribute('action')
                xhr.responseType = 'json'
                xhr.open(method, url)
                xhr.onload = function () {
                    console.log(event)
                }
                my_FormData.entries()
                xhr.send(my_FormData)
            }
            </script>

        {% endif %}
    </ul></li>
    {% endfor %}
</ol>


{% endblock %}