{% load static %}
<link rel="stylesheet" href="{% static 'css/media-styles.css' %}">

View All Files


<h3>To Upload a File:</h3>
<ol>
    <li>Click the button labeled 'browse' below</li>
    <li>Select a file to upload</li>
</ol>
<h3>After following the 2 steps above you will have uploaded the selected file to your Websites main public storage (aka Amazon Cloud). This File is instantly
viewable from the link provided after uploading. At the same time, this will automatically create a new database item under the Images section
    which (left sidebar in the Admin) is attachable to any Inventory Item. You can attach this image by selecting it from the dropdown when building
    a new Inventory Item (Newly uploaded items automatically propagate labeled as the file name you upload with example --> 'new_image.jpg'. You can find this Image information under the Images section on the left side of your admin page</h3>
<p>All files uploaded are viewable to anyone on the internet. DO NOT upload private files
or photos via this method! (There will be a private upload file section soon!)</p>
<p>TO ACCESS BUCKET DIRECTLY: Login to Bucket with the first link
    (<a target="_blank" href="https://803929774327.signin.aws.amazon.com/console">S3 Bucket Login</a>),
    after logged in click the second link (<a target="_blank" href="https://s3.console.aws.amazon.com/s3/buckets/stockvectorrigs?region=us-east-1&tab=objects">StockVectorRigs S3 Bucket</a>)
    OR search for s3 in the AWS Console search bar at the top of page after login. Select 'stockvectorigs' one under the bucket tab</p>

<div style="margin-left: 20%">
    <h4>NO SPACES IN File Name! (this can be fixed later, but for now. No spaces please!)</h4>
<p>Upload Anything to Storage!</p>
<form method='POST' id='uploadForm'>
    {% csrf_token %}
    <input type='file' name='file' id='files' multiple='multiple' accept="image/*, video/*, audio/*, application/pdf" />
</form>
<div id='displayList'>
    <p>Display List</p>
    <div id="file-url"></div>
</div>
</div>
<div class="all-files">
<div class="left-div">
<h1>Image Files</h1>
<!--
<h3>File Converters if needed to upload pictures:</h3>
<ul>
    <li><a href="https://express.adobe.com/tools/convert-to-jpg">PNG to JPG: Change a .png image file format to .jpg</a></li>
    <li><a href="https://tiff2jpg.com/">TIFF to JPG: Change a .tiff image file format to .jpg</a></li>
    <li><a href="https://ezgif.com/gif-to-jpg">GIF to JPG: Change a .gif image file format to .jpg</a></li>
</ul>
-->




<ol>
    {% for x in bucket_object_name %}
    <li>{{ x }} <a target="_blank" href="https://stockvectorrigs.s3.amazonaws.com/{{ x }}">View Image</a></li>
    {% endfor %}
</ol>
</div>
<div class="right-div">
<h1>Confirmation Reports</h1>
<ol>
    {% for x in bucket_object2 %}
    <li>{{ x }} <a target="_blank" href="https://stockvectorrigs.s3.amazonaws.com/{{ x }}">View Confirmation Report</a></li>
    {% endfor %}
</ol>
</div>
</div>

<script type="text/javascript" src="{% static 'javascript/media.js' %}">


</script>


