{% extends 'index-admin.html' %}
{% load static %}
{% block styles %}<link rel="stylesheet" href="{% static 'css/media-styles.css' %}">{% endblock %}
{% block title %}<title>Media Manager</title>{% endblock %}
{% block page_title %}<div class="manager-page-title"><h1>BUILD/UPDATE PAGE</h1></div>{% endblock %}

{% block content %}
<div class="media-intro">
<div class="upload-instructions">
<h3>To Upload a File:</h3>
<ol>
    <li>Click the button labeled 'browse' below</li>
    <li>Select a file (or multiple files) to upload</li>
</ol>
</div>
    <div class="instructions">
    <ul>
        <li><h3>After following the 2 steps above you will have uploaded the selected file(s) to your Websites main public storage (aka Amazon Cloud).</h3></li>
        <li><h3>This File is instantly
viewable from the link provided after uploading.</h3></li>
        <li><h3>At the same time, this will automatically create a new database item(s) under the Media section
    which (located in the left sidebar on the Admin) is attachable to any Inventory Item.</h3></li>
        <li><h3>You can attach an Image or Confirmation-Report by navigating to the Build/Update page,</h3></li>
            <ol>
                <li><h4>If creating a new item: select it from the dropdown
    in the Build Form on the left side of the Build/Update page;</h4></li>
                <li><h4>Or, by updating an already created item: click the Update Picture or Update Confirmation Report button
    located along the top of page under the nav-bar</h4></li>
            </ol>
        <li><h3>(Newly uploaded items automatically propagate labeled as the file name you upload with .. example --> 'new_image.jpg'
    gets stored as 'new_image.jpg')</h3></li>
        <li><h3>You can find this Image information under the Media section on the left side of your admin page.</h3></li>
        <li><h3>Also, all
    Images and Confirmation Reports located in the Cloud are listed below.</h3></li>

    </ul>
    </div>
<p style="color: red">All files uploaded are viewable to anyone on the internet. DO NOT upload private files
or photos via this method! (There will be a private upload file section soon!)</p>
<p>TO ACCESS BUCKET DIRECTLY: Login to Bucket with the first link
    (<a target="_blank" href="https://803929774327.signin.aws.amazon.com/console">S3 Bucket Login</a>),
    after logged in click the second link (<a target="_blank" href="https://s3.console.aws.amazon.com/s3/buckets/stockvectorrigs?region=us-east-1&tab=objects">StockVectorRigs S3 Bucket</a>)
    OR search for s3 in the AWS Console search bar at the top of page after login. Select 'stockvectorigs' one under the bucket tab</p>
</div>
<div id="upload-div">

<p>Upload Anything to Storage!</p>
<form method='POST' id='uploadForm'>
    {% csrf_token %}
    <input type='file' name='file' id='files' multiple='multiple' accept="image/*, video/*, audio/*, application/pdf" />
</form>
<div id='displayList'>
    <p>Upload List</p>
    <div id="file-url"></div>
</div>
</div>
<div class="all-files">
<div class="left-div">
<h1>Image Files</h1>
<!--
<h3>File Converters if needed to upload pictures:</h3>
<ul>
    <li><a href="https://express.adobe.com/tools/convert-to-jpg">PNG to JPG: Change a .png image file format to .jpg</a></li>
    <li><a href="https://tiff2jpg.com/">TIFF to JPG: Change a .tiff image file format to .jpg</a></li>
    <li><a href="https://ezgif.com/gif-to-jpg">GIF to JPG: Change a .gif image file format to .jpg</a></li>
</ul>
-->




<ol>
    {% for x in bucket_object_name %}
    <li>{{ x }} <a target="_blank" href="https://stockvectorrigs.s3.amazonaws.com/{{ x }}">View Image</a></li>
    {% endfor %}
</ol>
</div>
<div class="right-div">
<h1>Confirmation Reports</h1>
<ol>
    {% for x in bucket_object2 %}
    <li>{{ x }} <a target="_blank" href="https://stockvectorrigs.s3.amazonaws.com/{{ x }}">View Confirmation Report</a></li>
    {% endfor %}
</ol>
</div>
</div>

<script type="text/javascript" src="{% static 'javascript/media.js' %}">


</script>


{% endblock %}