body {
    background: conic-gradient(black,white, black);
    margin: 0;
    min-width: 600px;
    max-width: 100%;
    min-height: 900px;
}

#build-update-btn {
    color: white;
}

input {
    margin: 5px;
}

.form {
    display: grid;
    width: 290px;
    background: rgba(0,0,0, .5);
    padding: 10px 0px 10px 10px;
    border-radius: 5px;
    box-shadow: 5px 5px 25px #b5db1a;

}

#id_type {
    border: 2px solid red;
    background: black;
    color: white
}

.form * {
    width: 270px;
}

.div-form {
    width: 300px;

}

.container-main {
    min-width: 500px;
    max-width: 100%;
    display: flex;
    margin-left: 1%;
    box-sizing: border-box;
    margin-right: 1%;
}

.container-main button {
    background: #b5db1a;
    box-shadow: 5px 5px 15px black;
    border-radius: 5px;
    margin-top: 5px;
    border:hidden;
    justify-content: center;
    box-sizing: border-box;
    padding-top: 10px;
    min-width:100px;
    max-width: 200px;
    margin-left: 1%;


}

.container {
    background: black;
    display: grid;
    margin-top: 40px;
    box-shadow: 5px 5px 25px black;
    border-radius: 10px;
    max-width: 95%;
    margin-left: 2%;
    min-width: 60%;


}

.inner-container {
    color: white;
    display: grid;
    grid-template-columns: .3fr 1fr;
    padding: 2%;
    font-size: 10pt;
    width: 100%;
}



.description {
    margin-top: 3%;
    margin-bottom: 6%;
    color: #bebcc2;
    font-size: 10pt;
    font-weight: 600;
}

.description:hover {
    color: white;
}


.container-right p {
    display: inline;
    margin-left: 2%;
}

.container-right a {
    margin-left: 2%;
}

.container-left img {

}

.container-right {
    margin-left: 2%;
    font-family: Arial;
}

.color-vector {
    color: #b5db1a;
    font-weight: 1000;
}

#color-vector-a:hover {
    background-color: rgba(181, 219, 26, 0.6);
}

.price-vector {
    color: black;
    background: #b5db1a;
    font-weight: 1000;
    padding: 2px;
}

.price-vector:hover {
    color: white;
    background-color: rgba(181, 219, 26, 0.5);
}

.sold-img {
    position: absolute;
    width: 190px;
    transform: translate(-105%, 5%)
}

.none {
    display: none;
}

button {
    height: 40px;
    width: 100px;
    display: inline-flex;
}

.div-change {
    display: flex;
}

#id_name {
    border: 2px solid red;
    font-family: Monospace;
    background: rgba(0,0,0,.5);
    color: white;
    font-weight: 5000;
    border-radius: 5px;
    height: 25px;
    font-size: 12pt;
}

#id_price {
    border: 3px solid red;
    background: rgba(0,0,0,.5);
    color: white;
    font-weight: 500;
    border-radius: 5px;
    height: 25px;
    font-size: 14pt;
}

.clicker {
    width: 100%;
    height: 500px;
    margin-top: 20px;
}

.btnchanger:hover {
    background: black;
    color: white;
    box-shadow:5px 5px 15px white;
}

#e-id {
    position: absolute;
    top: -40px;
    left: 250px;
    color: white;
}

#h1-info-tag {
    position: absolute;
    top: -40px;
    left: 20px;
    color: white;
}

.total-pages-visits {
    position: absolute;
    top: 100px;
    left: 50px;
    color: white;
}

.submit-new {
    justify-content: center;
    padding-top: 15px;
    margin-left: 5px;
    margin-top: 5px;
}

.submit-new:hover {
    background: green;
    color: white
}

.form select {
    margin-left: 10px;
    height: 30px;
    background: #b5db1a;
    border-radius: 5px;
    font-family: cursive;
    font-size: 12pt;
}

.bottom-display {
    margin-top: 50px;
    max-width: 60%;
    display: grid;
    grid-template-columns: auto auto;
    transform: translate(0,0);
}

.sold-tag {

    margin-left: 50px;
}

.serial-tag {
    margin-left: 50px;

}

.stocking-tag {
    font-size: 14pt;
    margin-left: 20px;
    color: white;
}

#deletebtn {
    background: red;

}

.d1 {
    background: rgba(255, 0, 0, 0.5);
    height: 50px;
    border: hidden;
    border-radius: 10px;
    font-size: 18pt;
    width: 110px;
}

.d2 {

}

#d3  {
    background-color: red;


}

.d4 {
    color: red;
    font-weight: bold;
    font-size: 18pt;
}

.display_id_btn {

}

.white-gh3 {
    color: white;
    font-family: monospace;
    border: 2px solid white;
    margin: 0;
    padding: 0;
    width: 400px;
}
.white-gh1 {
    color: white;
    font-family: monospace;
    border: 2px solid white;
    padding: 0;
    width: 400px;
    margin-right: 100px;


}

.display-right {
    min-width: 80%;
    max-width: 95%;
}

.inputs {
    margin-left: 8%;
}

.id-dropdown-form {
    display: grid;
}

.bottom-display p {
    margin-left: 100px;
    color: black;
    border: 2px solid black;
    background: white;
    font-weight: 1000;
    font-family: Monospace;
    border-radius: 5px;
    padding: 5px;
    box-shadow: 0 0 10px black;
}

.form button {
    width: 100px;
    justify-self: center;
}

.div-form label {
    font-family: Arial;
    font-size: 12pt;
    color: #b5db1a;
    margin-left: 40%;
    width: 50%;

}

.change-display label {
    color: #b5db1a;
}

.change-display {

}

.div-change {
    margin-top: 20px;
    border: hidden;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 0 20px black;
    background: rgba(0,0, 0,.7);
}



.item-update-btn-group {
    float: right;
    display: flex;
    flex-wrap: wrap;
    max-width: 50%;

}

.main-btn-group button{
    background:orange;
    font-weight: 800;
}