.main-div {
    background: grey;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 0 10px black;
}

.main-div ul li:hover {
    background: beige;
    border-radius: 8px;
}

.main-div ul li:hover {
    font-size: 14pt;
}

.main-div ul li li li:hover {
    background: black;
    color:white;
}

.main-div ul button {
    background: #b5db1a;
    box-shadow: 0 0 15px black;
    border: hidden;
    border-radius: 3px;
    padding: 5px;
    margin: 10px 2px 5px 0;
}

.main-div ul button:hover {
    background: black;
    color: white;
    box-shadow: none;
}

.changeBtns {
    background: #f2bd1e;
}


.inventory-sidebar {
    display: flex;
    flex-direction: column;
    background: black;
    border-radius: 8px;
    margin-right: 5px;
    border-right: 2px solid gray;
}

.inventory-sidebar a {
    color: #b5db1a;
    margin: 0 0 0 20%;

}

.left-sidebar {
    position: sticky;
    top: 300px;
    height: fit-content;

}

.edit-options-menu {
    display: flex;
    margin: 10px 0 0 20%;
}

.edit-options-menu button {
    width: 100px;
    background: #b5db1a;
    border: hidden;
}

button {
    color: black;
    font-size: 10pt;
}

.inventory-filtering-group {
    display: flex;
}