.none {
    display: none;
}


.form-group {
    display: grid;
    grid-template-columns: 50% 50%;
}

.sold-data-form {
    display: block;
    border: 5px solid black;
}

.create-customer-form {
    display: block;
    border: 5px solid black;
}

.form-group-shipping {
    display: flex;
}

.shipping-data-form {
    display: flex;
    border: 5px solid black;
}