.none {
    display: none;
}


.form-group {
    display: grid;
    grid-template-columns: 1fr 1fr;

}

.sold-data-form {
    display: flex;
    border: 5px solid black;
}

.sold-data-form * {
    display: grid;
    padding: 5px;
}

.create-customer-form {
    display: flex;
    border: 5px solid black;
}

.create-customer-form * {
    display: flex;
    flex-direction: column;
}

.form-group-shipping {
    display: flex;
}

.shipping-data-form {
    display: flex;
    border: 5px solid black;
}

.shipping-data-form * {
    display: flex;
    flex-direction: column;
}

.shipping-address-form {
    display: flex;
    border: 5px solid black;
}

.shipping-address-form * {
    display: flex;
    flex-direction: column;
}