#inventory-btn {
    color: white;
}

.edit-options-menu {
    background: orange;
    height: 100px;
}

.none {
    display: none;
}

.sold-data-form {
    display: block;
    border: 5px solid black;
}

.create-customer-form {
    display: block;
    border: 5px solid black;
}

.form-group {
    display: grid;
    grid-template-columns: 50% 50%;
}